article {
    font-family: "Noto Serif", serif;
}

article .article-header h2 {
    font-weight: 600;
}

article .article-header h5 {
    color: #999;
}

article .article-main-content {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
}

article .article-content img {
    margin-bottom: 1.5em;
    display: block;
    max-width: 100%;
    height: auto;
}

article .article-content {
    font-size: 1.5em;
    line-height: 1.5em;
}

article .article-author {
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
}

.comment .new-comment textarea {
    display: block;
    width: 100%;
    padding: 10px;
}

.comment .new-comment.jumbotron {
    padding: 1px 20px 1px 20px;
    margin-top: 20px;
}

.comment .new-comment .submit-comment {
    display: flex;
    justify-content: flex-end;
}

.comment {
    font-family: sans-serif;
    font-size: 1.1em;
}

.comment .comment-buttons {
    display: flex;
    justify-content: flex-end;
}

.comment .comment-buttons .btn {
    height: 25px;
    margin: 6px 0px;
    padding: 6px 18px;
}

.comment .comment-hidden {
    opacity: 0.6;
}