USE [master]
GO
/****** Object:  Database [Web24H]    Script Date: 10/21/2017 11:28:52 PM ******/
CREATE DATABASE [Web24H]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web24H', FILENAME = N'E:\Database\Data\Web24H.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web24H_log', FILENAME = N'E:\Database\Log\Web24H_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web24H].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web24H]
GO
USE [Web24H]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ArticleID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Headline] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Thumbnail] [varchar](200) NULL,
	[CategoryID] [int] NULL,
	[CreatorID] [int] NULL,
	[CreatedTime] [datetime] NULL,
	[LastModifierID] [int] NULL,
	[LastModifiedTime] [datetime] NULL,
	[Status] [varchar](45) NULL,
	[LastStatusChangerID] [int] NULL,
	[LastStatusChangedTime] [datetime] NULL,
	[ViewCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[ArticleID] [int] NULL,
	[CreatorID] [int] NULL,
	[CreatedTime] [datetime] NULL,
	[Content] [nvarchar](200) NULL,
	[Status] [varchar](45) NULL,
	[LastStatusChangerID] [int] NULL,
	[LastStatusChangedTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](45) NULL,
	[Password] [varchar](200) NULL,
	[Name] [nvarchar](45) NULL,
	[Birthday] [date] NULL,
	[Gender] [int] NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](45) NULL,
	[PeopleIndentityCard] [varchar](45) NULL,
	[PressCard] [varchar](45) NULL,
	[RoleID] [int] NULL,
	[Status] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Article] ON 

INSERT [dbo].[Article] ([ArticleID], [Title], [Headline], [Content], [Thumbnail], [CategoryID], [CreatorID], [CreatedTime], [LastModifierID], [LastModifiedTime], [Status], [LastStatusChangerID], [LastStatusChangedTime], [ViewCount]) VALUES (1, N'updated', N'updated', N'updated', N'updated', 9, 4, CAST(N'2017-10-13T01:55:12.000' AS DateTime), 2, CAST(N'2017-10-13T01:55:55.000' AS DateTime), N'New', 6, CAST(N'2017-10-13T06:27:35.000' AS DateTime), 4)
INSERT [dbo].[Article] ([ArticleID], [Title], [Headline], [Content], [Thumbnail], [CategoryID], [CreatorID], [CreatedTime], [LastModifierID], [LastModifiedTime], [Status], [LastStatusChangerID], [LastStatusChangedTime], [ViewCount]) VALUES (2, N'Tiêu đề', N'Tóm tắt', N'Nội dung', N'Image', 1, 3, CAST(N'2017-10-13T01:55:12.000' AS DateTime), NULL, NULL, N'New', NULL, NULL, 0)
INSERT [dbo].[Article] ([ArticleID], [Title], [Headline], [Content], [Thumbnail], [CategoryID], [CreatorID], [CreatedTime], [LastModifierID], [LastModifiedTime], [Status], [LastStatusChangerID], [LastStatusChangedTime], [ViewCount]) VALUES (4, N'testDTO', N'testDTO', N'testDTO', N'', 4, 4, CAST(N'1970-01-01T07:00:00.000' AS DateTime), 4, CAST(N'1970-01-01T07:00:01.000' AS DateTime), N'Hided', 10, CAST(N'1970-01-01T07:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (1, N'Tin hàng ngày')
INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (2, N'Thể thao')
INSERT [dbo].[Category] ([CategoryID], [Name]) VALUES (3, N'Thế giới')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentID], [ArticleID], [CreatorID], [CreatedTime], [Content], [Status], [LastStatusChangerID], [LastStatusChangedTime]) VALUES (1, 2, 6, CAST(N'2017-10-13T01:55:12.000' AS DateTime), N'ahihi', N'Available', 2, CAST(N'2017-10-13T01:55:12.000' AS DateTime))
INSERT [dbo].[Comment] ([CommentID], [ArticleID], [CreatorID], [CreatedTime], [Content], [Status], [LastStatusChangerID], [LastStatusChangedTime]) VALUES (2, 1, 6, CAST(N'2017-10-13T01:55:12.000' AS DateTime), N'ahihihihihi', N'Available', NULL, NULL)
INSERT [dbo].[Comment] ([CommentID], [ArticleID], [CreatorID], [CreatedTime], [Content], [Status], [LastStatusChangerID], [LastStatusChangedTime]) VALUES (3, 1, 6, CAST(N'2017-10-13T01:55:12.000' AS DateTime), N'ahihi', N'Available', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Comment] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (1, N'Administrator')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (2, N'Editor')
INSERT [dbo].[Role] ([RoleID], [Name]) VALUES (3, N'Journalist')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [Name], [Birthday], [Gender], [Address], [Phone], [Email], [PeopleIndentityCard], [PressCard], [RoleID], [Status]) VALUES (1, N'admin', N'admin', N'Tao là admin nè', CAST(N'1985-12-07' AS Date), 1, N'Nhà tao', NULL, NULL, NULL, NULL, 1, N'Available')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Name], [Birthday], [Gender], [Address], [Phone], [Email], [PeopleIndentityCard], [PressCard], [RoleID], [Status]) VALUES (2, N'editor1', N'editor1', N'Tao là BTV', CAST(N'1992-12-06' AS Date), 1, N'Ở bụi', N'012542546', NULL, N'65727', NULL, 2, N'Available')
INSERT [dbo].[User] ([UserID], [Username], [Password], [Name], [Birthday], [Gender], [Address], [Phone], [Email], [PeopleIndentityCard], [PressCard], [RoleID], [Status]) VALUES (3, N'editor2', N'editor2', N'Tao cũng là BTV', CAST(N'1979-07-14' AS Date), 1, N'Tao cũng ở bụi', N'045546546', NULL, N'12312354', NULL, 2, N'Available')
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Article]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD FOREIGN KEY([CreatorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD FOREIGN KEY([LastModifierID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Article]  WITH CHECK ADD FOREIGN KEY([LastStatusChangerID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Article] ([ArticleID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([CreatorID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([LastStatusChangerID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
/****** Object:  StoredProcedure [dbo].[FindTopViewCountCreatedAfterDate]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FindTopViewCountCreatedAfterDate] (
	@Top int,
	@Time datetime
) AS
	SELECT TOP (@Top)
		ArticleID,
		Title,
		Headline,
		Content,
		Thumbnail,
		CategoryID,
		CreatorID,
		CreatedTime,
		LastModifierID,
		LastModifiedTime,
		[Status],
		LastStatusChangerID,
		LastStatusChangedTime,
		ViewCount
	FROM Article
	WHERE CreatedTime >= @Time
	ORDER BY ViewCount DESC
GO
/****** Object:  StoredProcedure [dbo].[ProcedureChangeCommentStatus]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureChangeCommentStatus](
	@CommentID int,
	@Status varchar(45),
	@LastStatusChangerID int,
	@LastStatusChangedTime datetime
) AS
	UPDATE Comment
	SET
		[Status] = @Status,
		LastStatusChangerID = @LastStatusChangerID,
		LastStatusChangedTime = @LastStatusChangedTime
	WHERE CommentID = @CommentID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureCreateArticle]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureCreateArticle] (
	@Title nvarchar(200),
	@Headline nvarchar(MAX),
	@Content nvarchar(MAX),
	@Thumbnail varchar(200),
	@CategoryID int,
	@CreatorID int,
	@CreatedTime datetime,
	@Status varchar(45),
	@ViewCount int
) AS
	INSERT INTO Article(Title, Headline, Content, Thumbnail, CategoryID,
		CreatorID, CreatedTime, [Status], ViewCount)
	VALUES (@Title, @Headline, @Content, @Thumbnail, @CategoryID,
		@CreatorID, @CreatedTime, @Status, @ViewCount
	)
GO
/****** Object:  StoredProcedure [dbo].[ProcedureCreateComment]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureCreateComment](
	@ArticleID int,
	@CreatorID int,
	@CreatedTime datetime,
	@Content nvarchar(200),
	@Status varchar(45)
) AS
	INSERT INTO Comment(ArticleID, CreatorID, CreatedTime, Content, [Status])
	VALUES (@ArticleID, @CreatorID, @CreatedTime, @Content, @Status)
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindArticleByCategoryIDAndStatus]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindArticleByCategoryIDAndStatus] (
	@CategoryID int,
	@Status varchar(45)
) AS
	SELECT 
		ArticleID,
		Title,
		Headline,
		Content,
		Thumbnail,
		CategoryID,
		CreatorID,
		CreatedTime,
		LastModifierID,
		LastModifiedTime,
		[Status],
		LastStatusChangerID,
		LastStatusChangedTime,
		ViewCount
	FROM Article
	WHERE (CategoryID = @CategoryID AND [Status] = @Status)
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindArticleByCreatorID]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindArticleByCreatorID] (
	@CreatorID int
) AS
	SELECT 
		ArticleID,
		Title,
		Headline,
		Content,
		Thumbnail,
		CategoryID,
		CreatorID,
		CreatedTime,
		LastModifierID,
		LastModifiedTime,
		[Status],
		LastStatusChangerID,
		LastStatusChangedTime,
		ViewCount
	FROM Article
	WHERE CreatorID = @CreatorID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindArticleByID]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindArticleByID] (
	@ID int
) AS
	SELECT 
		ArticleID,
		Title,
		Headline,
		Content,
		Thumbnail,
		CategoryID,
		CreatorID,
		CreatedTime,
		LastModifierID,
		LastModifiedTime,
		[Status],
		LastStatusChangerID,
		LastStatusChangedTime,
		ViewCount
	FROM Article
	WHERE ArticleID = @ID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindArticleByStatus]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindArticleByStatus] (
	@Status varchar(45)
) AS
	SELECT 
		ArticleID,
		Title,
		Headline,
		Content,
		Thumbnail,
		CategoryID,
		CreatorID,
		CreatedTime,
		LastModifierID,
		LastModifiedTime,
		[Status],
		LastStatusChangerID,
		LastStatusChangedTime,
		ViewCount
	FROM Article
	WHERE [Status] = @Status
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindArticleByTitle]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindArticleByTitle] (
	@Title nvarchar(200)
) AS
	SELECT 
		ArticleID,
		Title,
		Headline,
		Content,
		Thumbnail,
		CategoryID,
		CreatorID,
		CreatedTime,
		LastModifierID,
		LastModifiedTime,
		[Status],
		LastStatusChangerID,
		LastStatusChangedTime,
		ViewCount
	FROM Article
	WHERE Title like @Title
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindArticleByTitleAndStatus]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindArticleByTitleAndStatus] (
	@Title nvarchar(200),
	@Status varchar(45)
) AS
	SELECT 
		ArticleID,
		Title,
		Headline,
		Content,
		Thumbnail,
		CategoryID,
		CreatorID,
		CreatedTime,
		LastModifierID,
		LastModifiedTime,
		[Status],
		LastStatusChangerID,
		LastStatusChangedTime,
		ViewCount
	FROM Article
	WHERE (Title like @Title AND [Status] = @Status)
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindCommentByArticleID]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProcedureFindCommentByArticleID] (
	@ArticleID int
) AS
	SELECT 
		CommentID,
		ArticleID,
		CreatorID,
		CreatedTime,
		Content,
		[Status],
		LastStatusChangerID,
		LastStatusChangedTime
	FROM Comment
	WHERE ArticleID = @ArticleID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindUserByRoleID]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindUserByRoleID](
	@RoleID int
) AS
	SELECT 
		UserID,
		Username,
		[Name],
		Birthday,
		Gender,
		[Address],
		Phone,
		Email,
		PeopleIndentityCard,
		PressCard,
		RoleID,
		[Status]
	FROM [User]
	WHERE RoleID = @RoleID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindUserByUsername]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindUserByUsername](
	@Username varchar(45)
) AS
	SELECT 
		UserID,
		Username,
		[Name],
		Birthday,
		Gender,
		[Address],
		Phone,
		Email,
		PeopleIndentityCard,
		PressCard,
		RoleID,
		[Status]
	FROM [User]
	WHERE Username = @Username
GO
/****** Object:  StoredProcedure [dbo].[ProcedureFindUserLikeName]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureFindUserLikeName](
	@Name nvarchar(45)
) AS
	SELECT 
		UserID,
		Username,
		[Name],
		Birthday,
		Gender,
		[Address],
		Phone,
		Email,
		PeopleIndentityCard,
		PressCard,
		RoleID,
		[Status]
	FROM [User]
	WHERE [Name] Like '%'+@Name+'%'
GO
/****** Object:  StoredProcedure [dbo].[ProcedureIncreaseViewCount]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureIncreaseViewCount] (
	@ArticleID int
) AS
	UPDATE Article
	SET
		ViewCount = ViewCount + 1
	WHERE ArticleID = @ArticleID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureInsertUser]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureInsertUser](
	@Username varchar(45),
	@Password varchar(200),
	@Name nvarchar(45),
	@Birthday date,
	@Gender int,
	@Address nvarchar(200),
	@Phone varchar(20),
	@Email varchar(45),
	@PeopleIndentityCard varchar(45),
	@PressCard varchar(45),
	@RoleID int,
	@Status varchar(45)
) AS
	INSERT INTO [User](Username, [Password], [Name], Birthday, Gender, [Address], Phone, Email,
		PeopleIndentityCard, PressCard, RoleID, Status)
	VALUES (@Username, @Password, @Name, @Birthday, @Gender, @Address, @Phone, @Email,
		@PeopleIndentityCard, @PressCard, @RoleID, @Status)
GO
/****** Object:  StoredProcedure [dbo].[ProcedureLoadLoginInformation]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProcedureLoadLoginInformation](
	@Username varchar(45)
) AS
	SELECT 
		UserID as UserID,
		Username as Username,
		[Password] as [Password],
		[Name] as [Name],
		RoleID as RoleID,
		[Status] as [Status]

	FROM [User]
	WHERE [User].Username = @Username
GO
/****** Object:  StoredProcedure [dbo].[ProcedureUpdateArticle]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Update article
CREATE PROCEDURE [dbo].[ProcedureUpdateArticle](
	@ArticleID int,
	@Title nvarchar(200),
	@Headline nvarchar(MAX),
	@Content nvarchar(MAX),
	@Thumbnail varchar(200),
	@CategoryID int,
	@LastModifierID int,
	@LastModifiedTime datetime
) AS
	UPDATE Article
	SET 
		Title = @Title,
		Headline = @Headline,
		Content = @Headline,
		Thumbnail = @Thumbnail,
		CategoryID = @CategoryID,
		LastModifierID = @LastModifierID,
		LastModifiedTime = @LastModifiedTime
	WHERE ArticleID = @ArticleID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureUpdateArticleStatus]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProcedureUpdateArticleStatus](
	@ArticleID int,
	@Status varchar(45),
	@LastStatusChangerID int,
	@LastStatusChangedTime datetime
) AS
	UPDATE Article
	SET
		[Status] = @Status,
		LastStatusChangerID = @LastStatusChangerID,
		LastStatusChangedTime = @LastStatusChangedTime
	WHERE ArticleID = @ArticleID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureUpdatePassword]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureUpdatePassword] (
	@UserID int,
	@OldPassword varchar(200),
	@NewPassword varchar(200)
) AS
	UPDATE [User]
	SET
		[Password] = @NewPassword
	WHERE (UserID = @UserID AND [Password] = @OldPassword)
GO
/****** Object:  StoredProcedure [dbo].[ProcedureUpdateRoleID]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcedureUpdateRoleID] (
	@UserID int,
	@RoleID int,
	@PressCard varchar(45)
) AS
	UPDATE [User]
	SET
		RoleID = @RoleID,
		PressCard = @PressCard
	WHERE (UserID = @UserID)
GO
/****** Object:  StoredProcedure [dbo].[ProcedureUpdatetUser]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProcedureUpdatetUser](
	@UserID int,
	@Name nvarchar(45),
	@Birthday date,
	@Gender int,
	@Address nvarchar(200),
	@Phone varchar(20),
	@Email varchar(45),
	@PeopleIndentityCard varchar(45),
	@PressCard varchar(45)
) AS
	UPDATE [User]
	SET 
		[Name] = @Name,
		Birthday = @Birthday,
		Gender = @Gender,
		[Address] = @Address,
		Phone = @Phone,
		Email = @Email,
		PeopleIndentityCard = @PeopleIndentityCard,
		PressCard = @PressCard
	WHERE [User].UserID = @UserID
GO
/****** Object:  StoredProcedure [dbo].[ProcedureUpdateUserStatus]    Script Date: 10/21/2017 11:28:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ProcedureUpdateUserStatus] (
	@UserID int,
	@Status varchar(45)
) AS
	UPDATE [User]
	SET
		[Status] = @Status
	WHERE (UserID = @UserID)
GO
USE [master]
GO
