.article-preview .btn-area .btn {
    float: right;
    margin: 5px;
}
.section .section-title {
    margin-bottom: 15px;
}

.section .section-title .material-icons {
    vertical-align: middle;
    font-size: inherit;
}